body {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}

.btn-info .focus, .btn-info:focus {
  border-color: #7753ff;
  border: none;
  outline: none;
}

.navbar-fixed-top, .navbar-static-top {
    border-bottom: 0;
}

.dashhead-titles {
    float: inherit;
}

.order {
  display: block;
  margin: 0 auto;
}

.participation {
  margin-right: 15px;
}

.rbutton {
  float: right;
  margin-top: -40px;
}

.permissions {
  vertical-align: top;
}

.no-bullets {
  list-style: none;
  padding-left: 0;
}

li input[type=checkbox], li input[type=radio] {
  margin-right: 15px;
  vertical-align: top;
}

button[type=submit] {
  display: block;
  margin: 0 auto;
}

.daterangepicker {
  color: #51586a;
}

.daterangepicker .input-mini {
  color: #FFF;
}

.daterangepicker .input-mini:focus {
  color: #51586a;
}

@media (min-width: 768px) {
  body {
      padding-top: 50px;
      padding-bottom: 50px;
  }

  .form-half, .form-half-odd {
    display: inline-block;
    width: 47.18%;
  }

  .form-half:nth-child(even) {
    margin-right: 5%;
  }

  .form-half-odd:nth-child(odd) {
    margin-right: 5%;
  }
}
